/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Basic; 
	border-collapse: collapse; 
	border-left-style: none; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: none; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: none; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: none; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	cell-padding-left: 10px; 
	cell-padding-right: 10px; 
	cell-padding-top: 10px; 
	cell-padding-bottom: 10px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	font-family: Arial; 
	color: #000000; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 14px; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	font-size: 50px; 
	font-style: normal; 
	font-family: Arial; 
	vertical-align: top; 
	text-align: left; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Basic
{
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 10px 10px 10px 10px;
}

.TableStyle_Basic_Body_0_0
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0 p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_Body_0_0_RowSep_ColSep p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0_RowSep p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_Body_0_0_ColSep p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0_RowSep_ColEnd p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0_RowEnd p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_Body_0_0_RowEnd_ColSep p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0_RowEnd_ColEnd p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

.TableStyle_Basic_Body_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle_Basic_Body_0_0_ColEnd p
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
}


