/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 24px;
	margin-bottom: 6px;
}

img
{
	vertical-align: baseline;
	mc-thumbnail-max-height: 100px;
	margin-top: 5px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

a.Popup
{
	
}

p
{
	font-size: 11pt;
	font-family: Arial;
	margin-top: 0;
	margin-bottom: 6px;
}

h1
{
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-family: Arial;
	margin-top: 24px;
	margin-bottom: 6px;
}

h2
{
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-family: Arial;
	margin-bottom: 6px;
	margin-top: 24px;
}

h3
{
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-family: Arial;
	margin-top: 24px;
	margin-bottom: 6px;
}

h4
{
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
	font-size: 18pt;
	margin-top: 24px;
	margin-bottom: 6px;
}

p.Image_click_on
{
	font-size: 11pt;
	font-family: Arial;
	margin-bottom: 0;
	page-break-before: avoid;
	column-break-before: avoid;
	margin-top: -4px;
	line-height: 0;
}

th
{
	font: Arial;
	font-size: 11pt;
	mc-table-style: url('../TableStyles/Basic.css');
	font-weight: bold;
	font-style: normal;
}

td
{
	font-size: 11pt;
	font-family: Arial;
}

tbody
{
	font-size: 11pt;
	font-family: Arial;
}

thead
{
	font-weight: bold;
	font-style: normal;
	font-size: 11pt;
	font-family: Arial;
}

li
{
	font-size: 11pt;
	font-family: Arial;
}

MadCap|dropDownHead
{
	font-size: 11pt;
	font-family: Arial;
	color: #0000ff;
}

MadCap|dropDownHotspot
{
	font-size: 11pt;
	font-family: Arial;
	color: #0000ff;
	font-weight: bold;
	font-style: normal;
}

h5
{
	font-weight: bold;
	font-style: normal;
	margin-top: 24px;
	margin-bottom: 6px;
	font-size: 18pt;
	font-family: Arial;
}

